@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
/* font-family: 'Nanum Brush Script', cursive; */
body {
    -ms-overflow-style: none;
    font-family: 'Nanum Brush Script', cursive;
  }
  ::-webkit-scrollbar {
    display:none; 
  }

  /* m1_menu----------------------- */
  ul, li {
      text-decoration: none;
      list-style: none;
  }
  
  h3 {
      font-size: 30px;
      text-align: center;
      background-color: rgb(245, 177, 208);
      border-radius: 30px;
  }
  
  .menu {
      background-color: rgb(205, 65, 96);
      height: 800px;
      justify-content: center;
      font-size: 20px;
  }
  .menu a {
      text-decoration: none;
      color: aliceblue;
      font-size: 30px;
  }
  
  .menu a:hover {
      border-bottom-style: solid;
      border-color: rgb(245, 177, 208);
  }
/* m1_content_1,2.htlm------------------ */
.input_image{
    width: 100%;
    height: 40px;
    background: #dddddd;
    font-size: 30px;
    color: #000000;
    border-radius: 30px;
    text-align: center;
}
.input_image img {
    width: 80px;
}
/* m1_content_3.html---------------- */
.month-grid {
    column-gap: 5px;
    display: flex;
    padding: 10px;
    background-color: rgb(205, 65, 96);
    border-radius: 5px;
    max-width: 100%;
    justify-content: center;
    column-gap: 10px;
}

.month-grid  a {
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

.month-grid a:hover{
    color: #000000;
}

/*기존에 남아있는 사진들*/
.month-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.month-img  img{
  width: 300px;
  height: 180px;
  object-fit: contain;
  border: 3px solid rgb(245, 177, 208);
}

.month-img img:hover {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
}

/*추가되는 사진들css*/
.photoFrame{
    width: 500px;
    height: 500px;
  }

  #pictures {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  
  .photoFrame {
      width: 300px;
      height: 180px;
      border: 3px solid rgb(245, 177, 208);
      position: 50% 50%;
  }

  .photoFrame:hover {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
  }
  .m-title {
    font-size: 33px;
    background-color: rgb(205, 65, 96);
    border-radius: 30px;
    width: 120px;
    text-align: center;
  }
  
  .font {
    font-size: 20px;
    background-color: aliceblue;
    border-radius:20px ;
    width: 80px;
    text-align: center;
  }

  .coma {
    font-size: 35px;
  }

  /* m1-thema */
  .thema1 > input {
    border-radius: 50%;
    font-size: 25px;
    background-color: rgb(245, 177, 208);
    border: solid rgb(245, 177, 208);
  }

  .thema1 > input:hover {
    cursor: pointer;
  }