@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
/* font-family: 'Nanum Brush Script', cursive; */
body {
  -ms-overflow-style: none;
  font-family: 'Nanum Brush Script', cursive;
}
ul, li , a{
    text-decoration: none;
    list-style: none;
}

/* menu */
h3 {
    font-size: 30px;
    text-align: center;
}

.menu {
    background-color: rgb(205, 65, 96);
    height: 500px;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    
}

.menu a:hover {
    border-bottom-style: solid;
    border-color: rgb(245, 177, 208);
}

/* m3_content_1.html */
div[class="calen"] {
    border: 5px;
    color: rgb(205, 65, 96);
    max-width: 100%;
    background-color: rgb(245, 177, 208);
    border-style: solid;
    border-radius: 30px;
    text-align: center;
}

div[class="calen"] > table {
    display: flex;
    justify-content: center;
    align-items: center;
}

div[class="calen"] td,a {
    font-size: 35px;
    color: #000000;
    padding: 6px;
}

div[class="calen"] a:hover {
    color: aliceblue;
}

tr[class="y-m-d"] td{
    font-size:40px;
}

tr[class="y-m-d"] button{
    font-size:40px;
    background-color: rgb(245, 177, 208);
    border-color: rgb(205, 65, 96);
    border-radius: 30px;
    border-style: groove;
}

div[class="memo"] {
    background-color: #dddddd;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(205, 65, 96);
}

/* m3_content_2.html */
div[class="annivers"] {
    display: flex;
    border-style: solid;
    border-radius: 30px;
}

div[class="annivers"]>div:nth-child(1) {
    width: 25%;
    background: rgb(245, 177, 208);
    font-size: 30px;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

div[class="annivers"]>div:nth-child(2) {
    width: 75%;
    background: rgb(205, 65, 96);
    font-size: 30px;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}