@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
/* font-family: 'Nanum Brush Script', cursive; */
body {
  -ms-overflow-style: none;
  font-family: 'Nanum Brush Script', cursive;
}
ul, li , a{
    text-decoration: none;
    list-style: none;
}

/* menu */
h3 {
    font-size: 30px;
    text-align: center;
    background-color: rgb(245, 177, 208);
    border-radius: 30px;
}

.menu {
    background-color: rgb(205, 65, 96);
    height: 500px;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    
}

.menu a:hover {
    border-bottom-style: solid;
    border-color: rgb(245, 177, 208);
}

/* m3_content_1.html */


div[class="memo"] {
    background-color: #dddddd;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(205, 65, 96);
}



/*m3_content_1.html*/
td {
    width: 100px;
    height: 70px;
    font-size: 35px;
}

.Calendar { 
    text-align: center;
    margin: 0 auto; 
}

.Calendar>thead>tr:first-child>td { font-weight: bold; }

.Calendar>thead>tr:last-child>td {
    background-color: rgb(205, 65, 96);
    color: white;
    border-radius: 20px;
}        

.pastDay{ background-color: lightgray; border-radius: 20px; }

.today{            
    background-color: rgb(245, 177, 208);            
    cursor: pointer;
    border-radius: 20px;
}

.futureDay{            
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 20px;
}

.futureDay.choiceDay, .today.choiceDay{            
    background-color: #ffdacd;            
    color: #fff;
    cursor: pointer;
}

.go_today {
    width: 100px;
    height: 30px;
    background-color: rgb(245, 177, 208);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go_today input {
    border-style: none;
    background-color: rgb(245, 177, 208);
    cursor: pointer;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 24px;
}


/* m3_content_2.html */

#ani_input {
    font-size: 25px;
    background-color: #ffdacd;
    text-align: center;
}

#ani_input div:nth-child(1) {
    font-size: 20px;
}
#ani_input div:nth-child(2) {
    background-color: burlywood;
}

div[class="annivers"] {
    display: flex;
    border-style: solid;
    border-radius: 30px;
}

div[class="annivers"]>div:nth-child(1) {
    width: 25%;
    background: rgb(245, 177, 208);
    font-size: 30px;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

div[class="annivers"]>div:nth-child(2) {
    width: 45%;
    background: rgb(205, 65, 96);
    font-size: 30px;
    text-align: center;
}

div[class="annivers"]>div:nth-child(3) {
    width: 75%;
    background: rgb(170, 65, 96);
    font-size: 30px;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}