@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
/* font-family: 'Nanum Brush Script', cursive; */
body {
  -ms-overflow-style: none;
  font-family: 'Nanum Brush Script', cursive;
}
.font {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 50px;
}
/* login.html------------------ */
.login {
  width: 320px;
  height: 150px;
  background-color: rgb(245, 177, 208);
  justify-content: center;
  align-items: center;
  display: flex;
  /* border-radius: 5%; */
  border-style:solid ;
  border-color: rgb(245, 177, 208);
}

.login-contain {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 22px;
  margin-top:0 ;
  max-width: 100%;
  height: 800px;
  background-color: rgb(205, 65, 96);
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: block;
  text-align: center;
  background-color: rgb(205, 65, 96);
}

button {
  background-color: rgb(245, 177, 208);
  border-color: rgb(205, 65, 96);
}

.logologin {
  max-width:50%;
}
/* login.html------------------ */

/* 메뉴 바 ------------------------- */

input[id="menuicon"] {
  display: none;
}
input[id="menuicon"] + label{ /*아이콘 동적 변화*/
  display: block;
  width: 60px;
  height: 40px;
  position: fixed;
  right:0;
  top:calc(20px);
  right: calc(15px);
  cursor: pointer;
  transition: all .45s;
}

input[id="menuicon"]:checked + label{ /*아이콘 위치(index2)*/
  z-index: 2; /*index1보다 위에 위치*/
  top:195px
}

input[id="menuicon"] + label span { /*동적 메뉴바 생성*/
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: rgb(245, 177, 208);
  transition: all .45s;
}

/* input 시 변화 */
input[id="menuicon"] + label span:nth-child(1) {
  top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom: 0;
}

#menuicon:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
#menuicon:checked + label span:nth-child(2) {
  opacity: 0;
}
#menuicon:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
/* 동적 메뉴 아이콘 끝 */

/* 동적 메뉴 바 */
div[class="sidebar"] { /*동적 메뉴바 설정*/
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  background: rgb(205, 65, 96)  ;
  position: fixed;
  top: -250px;
  left: 0;
  z-index: 1;
  transition: all .45s;
  opacity: 0.9;
}

input[id="menuicon"]:checked + label + div{ /*아이콘 위치*/
  top: 0;
}
div[class="sidebar"] { /*동적 생성 후 메뉴 바*/
  display:flex;
  justify-content: center;
  align-items: center;
}


ul[class="m-sl"] { /*서브메뉴*/
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 15px;
  font-family: 'Nanum Brush Script', cursive;
}
ul[class="m-sl"] > li > a {
  color: antiquewhite;
  text-decoration: none;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 25px ;
}

ul[class="m-sl"] > li > a:hover {
  color: #000000;
}

a[class="m-l"] { /*메인메뉴*/
  color: aliceblue;
  font-size: 40px;
  text-decoration: none;
}

a[class="m-l"]:hover {
  color: #000000;
}
/* 동적 메뉴 바 끝 */

ul[class="main-nav"] { /*메뉴 바 배경 색, 간격 조정*/
  flex-wrap: wrap; /*페이지 크기에 따른 동적 변화*/
  display: flex ;
  background-color: rgb(205, 65, 96);
  margin: 0;
  padding: 0;
  column-gap: 50px;
}

ul[class="main-nav"] > li{ /* 메뉴바 content 색, border적용*/
  display: flex;  
  background-color: rgb(205, 65, 96);
  font-size: 15px;
  width: 100px;
  height: 60px;
  margin: 5px;
  justify-content: center;  /*글자 중앙 정렬*/
  align-items: center;
  /* border-style: solid; */
  /* border-color: rgb(245, 177, 208); */
}

ul[class="main-nav"] > li > a { /*폰트 색, 폰트 적용, 언더바 제거*/
  color: aliceblue;
  text-decoration: none;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 30px;
}

ul[class="main-nav"] > li:hover{
  background-color: rgb(245, 177, 208);
  border-radius: 30px;
  font-size: 15px;
  width: 100px;
  height: 60px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none; 
}

.logo {
  margin-top: 5px;
  margin-left: 5px;
  width: 300px;
  height: 70px;
}

/* 메뉴바------------------------------- */

/* main_Menu ------------------*/
#dday {
  margin-right: auto;
  margin-left: auto;
  border-style:solid;
  padding: 50px;
  border-color: rgb(205,65,96)

}
.dday1 {
  height: 150px;
}

.dday1 > td:nth-child(2) {
  width: 200px;
  text-align: center;
}

.heart {
  width: 80px;
}

.dday3 {
  text-align: left;
}
.dday4 {
  height: 80px;
  text-align: center;
}
.dday5 {
  text-align: right;
}
/* main_Menu ------------------*/
