/* 대표로고 크기  */
.logo {
    width: 400px;
    padding: 0;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
}

/* 메뉴 바 ----------------------*/
.menu_bar {
  margin: auto;
}

.menu_bar > tr, td {
  padding-right: 30px;
  padding-right: 30px;
}

.m1lg img:first-child {
    display: block;
  }
  .m1lg img:last-child {
    display: none;
  }
  
  .m1lg:hover img:first-child {
    display: none;
  }
  .m1lg:hover img:last-child {
    display: block;
  }

.m2lg img:first-child {
    display: block;
  }
  .m2lg img:last-child {
    display: none;
  }
  
  .m2lg:hover img:first-child {
    display: none;
  }
  .m2lg:hover img:last-child {
    display: block;
  }

.m3lg img:first-child {
    display: block;
  }
  .m3lg img:last-child {
    display: none;
  }
  
  .m3lg:hover img:first-child {
    display: none;
  }
  .m3lg:hover img:last-child {
    display: block;
  }

.m4lg img:first-child {
    display: block;
  }
  .m4lg img:last-child {
    display: none;
  }
  
  .m4lg:hover img:first-child {
    display: none;
  }
  .m4lg:hover img:last-child {
    display: block;
  }

.m5lg img:first-child {
    display: block;
  }
  .m5lg img:last-child {
    display: none;
  }
  
  .m5lg:hover img:first-child {
    display: none;
  }
  .m5lg:hover img:last-child {
    display: block;
  }
/* 메뉴 바 ------------------------- */
